<div id=loading class="loading-div">
    <img class="loading-image" src="./assets/loading.gif" />
</div>
<div id="content-div" class="hidden">
    <div class="contenedor1">
        <h1>Historial de los Estados de la Denuncia</h1><br>
    </div>
    <div id="canvas" class="contenedor2 div-form">
        <h2>Historial Proceso de {{id}}</h2>
        <button class="simulation-button" ng-click="start()">Iniciar Simulacion</button>
        <button class="simulation-button" ng-click="createPdf()">Imprimir</button>
        <div class="estado" ng-repeat="state in process track by $index">
            <div id="st-{{$index}}">
                <label>Procesado en {{state.name}}:</label>
                <label>
                        Resumen de estado: 
                </label>
                <label ng-repeat="desc in state.descArray">{{desc}}</label>
                <div class="barraProgreso">
                    <div ng-if="state.hasFailed" class="progreso bgRed">
                        <label>Duro {{state.msDuration/10}} dias</label>
                    </div>
                    <div ng-if="!state.hasFailed" class="progreso bgGreen">
                        <label>Duro {{state.msDuration/10}} dias</label>
                    </div>
                </div> 
            </div>
        </div>
        <div class="estado">
            <label>Tiempo total:</label>    
            <div class="barraProgreso bgTurkish">El caso duro {{total}} dias</div>
        </div>
    </div>
    <form action="{{action}}" class="action-form">
        <button class="bgGreenTurkish">Atras</button>
    </form>
</div>